# File created by Antoine James Tournepiche
# Ignore gradle useless files
.gradle/

# Ignore binaries
*.jar
*.class
build/

# Ignore IntelliJ project file
*.iml

# Ignore IntelliJ useless files, keep code style
.idea/*
!.idea/codeStyles

# Ignore configuration file
configuration.toml
